.auth-modal-container {
  background-color: #f7f6f4;
}

.auth-form-container {
  height: 100%;
}

.auth-form {
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
}

.errors {
  display: block;
  margin: 0px;
  font-size: 14px;
  border: none;
  padding: 0px;
  background-color: #f7f6f4;
}

.errors li {
  margin: 0px 30px;
  text-align: center;
}



.auth-form input, .auth-form select, .auth-form textarea {
  margin-bottom: 12px;
  font-size: 20px;
  background: #d9d8d4;
  padding: 10px;
  width: 305px;
}

.auth-form textarea {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}

.auth-form select {
  margin: auto;
  margin-bottom: 12px;
}

.button-box {
  margin: auto;
  margin-top: 10px;
}

.sign-up-image-url {
  margin-left: 6px;
}

#login-button, #signup-button {
  width: 60px;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #4d4e50;
  color: white;
  margin-bottom: 30px;
  border-radius: 5px;
}
#signup-button {
  margin-bottom: 20px;
}

#close {
  float: right;
  margin: 5px;
  font-size: 16px;
}

#logo {
  width: 80px;
  margin: auto;
}
