.auth-modal-container {
  margin-bottom: -30px;
}

.auth-form-container {
  background-color: lightgrey;
}

.auth-form {
  margin: 20px 30px;
}

.errors {
  display: block;
  margin: 0px;
  font-size: 14px;
  color: red;
  border: none;
  background-color: lightgrey;
  padding: 0px;
}

.errors li {
  margin: 0px 30px;
}

label {
  font-size: 20px;
}

textarea {
  padding: 5px;
  font-size: 16px;
  width: 304px;
  margin-left: 6px;
  background: white;
  border-radius: 6px;
  border: none;
}

.auth-form input, .auth-form select {
  margin-bottom: 15px;
  font-size: 20px;
  background: white;
  padding: 5px;
  width: 305px;
  border-radius: 5px;
}
.auth-form select {
  margin-left: 6px;
  width: 315px;
  margin-top: 10px;
  margin-bottom: 12px;
  padding: 5px;
  color: darkgray;
}

span {
  color: #DE1826;
}

.button-box {
  display: flex;
  margin-top: 10px;
}

.sign-up-image-url {
  margin-left: 6px;
}

#login-button, #signup-button {
  width: 60px;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #DE1826;
  color: white;
  margin-bottom: 30px;
  border-radius: 5px;
}
#signup-button {
  margin-bottom: 20px;
}

#close {
  float: right;
  margin: 5px;
  font-size: 16px;
}

#logo {
  width: 80px;
  margin: auto;
}
