.form-box {
  border: 1px solid black;
  margin-bottom: 20px;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
}

.form {
  margin: 30px;
  margin-top: 15px;
}

.errors {
  display: block;
  margin: 0px;
  font-size: 14px;
  color: red;
  border: none;
  background-color: white;
  padding: 0px;
}

.errors li {
  margin: 0px 30px;
}

label {
  font-size: 20px;
}

textarea {
  padding: 5px;
}

input {
  margin-bottom: 15px;
  font-size: 20px;
  border: 1px solid black;
  padding: 5px;
  width: 305px;
}

span {
  color: red;
}

.button-box {
  display: flex;
  margin-top: 15px;
}

textarea {
  border: 1px solid black;
}

#login-button, #signup-button {
  width: 60px;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid white;
  background-color: #DE1826;
  color: white;
}

#x {
  float: right;
  margin: 5px;
}

#logo {
  width: 80px;
  margin: auto;
  margin-top: 20px;
}
