.bookings-container {
  text-align: center;
  margin: 0 40px;
  padding-top: 60px;
}
.bookings-container h2 {
  margin-top: 20px;
}

.bookings{
  display: flex;
  flex-wrap: wrap;
}

.display-dates {
  display: flex;
  justify-content: center;
}

.display-dates li {
  font-size: 15px;
}

.booking {
  margin: 30px 27px;
  width: 325px;
  background-color: lightgray;
  position: relative;
}

.place-main-image {
  height: 200px;
}

.host-image-url {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 155px;
  left: 125px;
}

.host-image-url:hover {
  box-shadow: 0 0 4px #000000;
}

.booking-details {
  margin: 40px 20px 0 20px;
}

.booking-details li {
  padding: 5px;
}

.booking-details li h3 {
  margin: 10px 0 5px 0;
}

.booking-rating {
  margin-bottom: 5px;
}

.booking-link {
  font-size: 20px;
  text-decoration: underline;
}

.booking-edit-button, .booking-delete-button {
  padding: 5px 10px;
  margin: 5px 10px 20px 10px;
  font-size: 16px;
  background-color: rgb(83,89,98);
  color: white;
}

.booking-edit-button {
  margin-right: 0;
}

.booking-edit-form-container {
  background-color: lightgrey;
}

.booking-edit-form-box {
  padding: 25px;
}

.booking-edit-form input, .booking-edit-form select {
  margin-bottom: 15px;
  font-size: 20px;
  background: white;
  padding: 5px;
  width: 305px;
  border-radius: 5px;
}

.booking-errors {
  background-color: #CC1200;
  text-align: center;
  margin-bottom: 5px;
}
