.footer-box ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: #DE1826;
  color: white;
  font-size: 18px;
}

.footer-box ul li {
  width: 30px;
  margin: 5px 0px 5px 20px;
}

#ghkitty {
  width: 36px;
}
