.footer-box {
	position: static;
  bottom: 0;
  width: 100%;
}

.footer-box ul {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #403C39;
  color: #E5E6EA;
  font-size: 1.2em;
}

.footer-box ul li {
  width: 30px;
  margin: 5px 0px 5px 20px;
}

#ghkitty {
  width: 36px;
}
