.header-box {
  background-color: #DE1826;
  color: white;
  display: flex;
  justify-content: space-between;
}

.header-box ul {
  display: flex;
  align-items: center;
  border: none;
}

.header-box li {
  margin: 5px 15px;
}

.nav button {
  margin: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
}

.header-box img {
  width: 60px;
  margin-left: 15px;
}

.search {
  margin-top: 15px;
  font-size: 18px;
  background-color: white;
  color: #DE1826;
  width: 200px;
}

#header-logo {
  text-align: center;
}

#title {
  font-size: 20px;
  color: white;
}

#caption {
  font-size: 14px;
  color: white;
}
