.header-box {
  background-color: #DE1826;
  color: white;
}

.nav-buttons ul {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  border: none;
}

.nav-buttons ul button {
  margin: 10px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
}
