.header-box {
  background-color: rgba(37, 36, 41, 0.8);
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 2000;
  height: 70px;
}

.nav {
  display: flex;
}

.header-box ul {
  display: flex;
  align-items: center;
  border: none;
}

.header-box li {
  margin: 5px 12px;
  list-style: none;
}

.nav button, #trips {
  margin: 15px 10px 5px 10px;
  padding: 8px 16px;
  font-size: 1em;
  background-color: #CC1200;
  color: #E5E6EA;
  border-radius: 4px;
}

#trips {
  margin-bottom: 15px;
}

nav .logged-out-button {
  margin: auto;
  margin-right: 10px;
}

.header-box img {
  width: 60px;
  margin-left: 15px;
}

.search {
  margin-left: 10px;
  font-size: 1.2em;
  background-color: #18171c;
  color: #E5E6EA;
  padding: 8px 12px;
  width: auto;
  border-radius: 6px;
  position: relative;
}

.header-list {
  position: relative;
}

#user-name {
  font-size: 20px;
  margin: auto;
}

#user-dropdown {
  position: absolute;
  background: #fff;
  display: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  z-index: 10;
  top: 64px;
  left: 15px;
  font-size: 15px;
}

#search-dropdown {
  position: absolute;
  background: #fff;
  display: none;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  z-index: 10;
  top: 57px;
  left: 280px;
  font-size: 15px;
  min-width: 17%;
}

.search-list:hover #search-dropdown {
  display: block;
}

#search-dropdown:hover {
  display: block;
  cursor: pointer;
}

.header-list:hover #user-dropdown {
  display: block;
}

#user-icon {
  margin: 0px 15px 0px 15px;
}

#user-icon img {
  height: 64px;
  width: 70px;
  margin-left: 0;
}

#user-dropdown > li {
  margin: auto;
  text-align: center;
  padding: 7px;
  border-top: 1px solid #ccc;
  color: #000;
}

#search-dropdown > li {
  margin: auto;
  text-align: center;
  padding: 7px;
  border-top: 1px solid #ccc;
  color: #000;
}

#user-dropdown > li:hover {
  background: #eee;
}

#search-dropdown > li:hover {
  background: #eee;
}

#header-logo {
  text-align: center;
  margin-left: 0;
}

#title {
  font-size: 20px;
  font-family: 'Cinzel Decorative';
  font-weight: 700;
  color: #CC1200;
}

#first-little, #second-little {
  font-size: 16px;
  color: #CC1200;
}

#caption {
  font-size: 1em;
  color: #E5E6EA;
}

#header-logo:hover {
  text-shadow: 0 0 2px white;
}
