.place-show {
  min-height: calc(100vh - 50px);
}

.text {
  margin: 20px 20px 20px 80px;
  width: 60%;
  position: relative;
  height: 500px;
  overflow: scroll;
}

.header-text {
  height: 100px;
  position: relative;
}

.place-images {
  overflow: auto;
  display: flex;
  overflow-y: hidden;
  height: 360px;
}

.place-image {
  width: 50vw;
}

.show-host-info {
  font-size: 1.6em;
  position: relative;
  justify-content: center;
  vertical-align: middle;
}

.show-host-info span {
  display: inline-block;
  margin-left: 15px;
  position: absolute;
  left: 24px;
  top: 140px;
  font-size: 18px;
}

.show-host-pic {
  width: 100px;
  position: relative;;
  display: inline-block;
}

.show-host-pic-button {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: -50px;
}

.show-host-pic-button:hover {
  box-shadow: 0 0 8px #000000;
}

.show-place-categories {
  list-style: none;
  position: absolute;
  left: 250px;
}

.show-place-categories h3 {
  margin: 10px 0 20px 0;
}

.show-place-details {
  display: flex;
  justify-content: center;

}

.show-place-details li {
  margin: 5px 35px 10px 0;
  width: 70px;
  display: flex;
  flex-direction: column;
}

.show-place-details li img {
  width: 60%;
}

#show-rating {
  position: absolute;
  top: 1px;
  left: 210px;
  font-size: 20px;
}

.show-about {
  margin-top: 100px;
  border-bottom: 1px solid grey;
  width: 90%;
}

.show-rules {
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
  width: 90%;
}

p {
  margin: 20px 0;
}

.make-booking-box {
  display: inline;
  background-color: #587388;
  padding: 20px;
  margin: 15px;
  position: absolute;
  right: 0;
  bottom: 35px;
  flex-direction: column;
  color: #fff;
  border-radius: 6px;
  width: 380px;
}

.make-booking-box form {
  margin: 0px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.booking-price {
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.booking-input {
  width: 240px;
  font-size: 18px;
}

.dates {
  margin: auto;
}

.make-booking-box .submit-booking {
  margin: 0 auto;
  width: auto;
  margin-top: 20px;
  font-size: 20px;
  background: #CE522C;
  padding: 12px 24px;
  border-radius: 6px;
}

.num-guests select {
  margin-left: 10px;
}

.booking-category {
  display: flex;
  flex-direction: column;
  margin: 15px;
}


.num-guests {
  margin: auto;
  padding: 10px;
}
