.place-show {
  min-height: calc(100vh - 50px);
  background-color: #faf8fd;
}

.text {
  margin: 20px 20px 20px 80px;
  width: 60%;
  position: relative;
}

.header-text {
  height: 100px;
  position: relative;
}

.place-images {
  overflow: auto;
  display: flex;
  overflow-y: hidden;
  height: 320px
}

.place-image {
  width: 540px;
  height: 100%;
}

.show-host-pic {
  text-align: center;
}

.show-host-pic span {
  top: 116px;
  right: -15px;
  position: absolute;
  width: 100%;
}

.show-host-pic {
  width: 100px;
  position: relative;;
  display: inline-block;
}

.show-host-pic-button {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: -15px;
}

.show-host-pic-button:hover {
  box-shadow: 0 0 8px #000000;
}

.title-with-rating {
  display: flex;
}

.show-title {
  margin-right: 10px;
}

.show-place-categories {
  list-style: none;
  position: absolute;
  left: 200px;
}

.show-place-categories h3 {
  margin: 10px 0 20px 0;
}

.show-place-details {
  display: flex;
  justify-content: center;
}

.show-place-details li {
  margin: 5px 35px 10px 0;
  width: 70px;
  display: flex;
  flex-direction: column;
}

.show-place-details li img {
  width: 60%;
}

#show-rating {
  font-size: 20px;
}

.show-about {
  margin-top: 120px;
  border-bottom: 1px solid grey;
  width: 90%;
}

.show-rules {
  border-bottom: 1px solid grey;
  margin-bottom: 30px;
  width: 90%;
}

.show-about p, .show-rules p {
  margin: 20px 0;
  white-space: pre-wrap;
}

.make-booking-box {
  display: inline;
  background-color: #e1e3e0;
  padding: 20px;
  margin: 15px;
  position: fixed;
  right: 0;
  top: 200px;
  flex-direction: column;
  color: #fff;
  border-radius: 6px;
  width: 30%;
}

.make-booking-box form {
  margin: 0px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.booking-price {
  margin: auto;
}

.booking-input {
  width: 240px;
  font-size: 18px;
  background: #faf8fd;
  border-radius: 6px;
  color: #4d4e50;
  padding: 2%;
}

.dates {
  margin: auto;
}

.make-booking-box .submit-booking {
  margin: 0 auto;
  width: auto;
  margin-top: 10px;
  font-size: 20px;
  background: #4d4e50;
  padding: 12px 24px;
  border-radius: 6px;
  color: #faf8fd;
}

.num-guests select {
  margin-left: 10px;
}

.booking-category {
  display: flex;
  flex-direction: column;
  margin: 15px;
}


.num-guests {
  margin: auto;
  padding: 10px;
}
