.reviews {
  margin-top: 40px;
}

.review {
  margin: 30px 10px;
}

.review-details {
  display: flex;
  position: relative;
}

.review-author {
  text-align: center;
  min-width: 150px;
}

.review-author-name {
  font-size: 14px;
}

.review-user-pic {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  cursor: pointer;
  margin: auto;
}

.review-user-pic:hover {
  box-shadow: 0 0 4px #000000;
}

.rating-and-body {
  left: 150px;
  width: 75%;
  border-bottom: 1px solid grey;
  position: absolute;
}

.review-form {
  width: 75%;
  margin: auto;
  margin-top: 40px;
  background-color: #e1e3e0;
  padding: 5%;
  border-radius: 6px;
}

.review-body {
  padding: 10px 0 10px 0;
  position: relative;
}

.form-body {
  font-size: 18px;
  margin: 10px 0;
  width: 98%;
  padding: 2%;
  background-color: #faf8fd;
}

.delete-review-button {
  padding: 3px 7px;
  margin: 8px;
  color: #faf8fd;
  background-color: #4d4e50;
  font-size: 14px;
  position: absolute;
  left: 480px;
  top: 25px;
}

.review-submit {
  width: auto;
  margin-right: 20px;
  font-size: 18px;
  margin-bottom: 0px;
  border: none;
  color: #faf8fd;
  background-color: #4d4e50;
  padding: 3px 7px;
}

.submit-and-cancel {
  display: flex;
  justify-content: center;
}

.review-form h3 {
  text-align: center;
  margin: auto;
}

.cancel {
  font-size: 18px;
  color: #faf8fd;
  background-color: #4d4e50;
  padding: 3px 7px;
}

#span-rating {
  font-size: 18px;
  float: left;
  margin: 8px;
}

.stars {
  float: left;
}
