.search-pane {
  display: flex;
}

.left-half-places {
  width: 50%;
  overflow: scroll;
  height: 100vh;
}

@media only screen and (min-width : 767px) {
  .place-index {
    height: auto;
    overflow-y: scroll;
    flex-wrap: wrap;
    display: flex;
    padding: 60px 0;
  }
}

.place-index-item {
  margin: 15px 15px 0px 15px;
}

.place-index-item span {
  color: #587388;
}

.place-and-host {
  position: relative;
  margin-bottom: 4px;
  cursor: pointer;
}

.place-pic {
  width: 285px;
  height: 185px;
}

.index-item-title {
  font-size: 20px;
}

.place-details {
  display: flex;
  color: rgba(88, 115, 136, 0.74);
  position: relative;
}

.index-item-value {
  margin: 2px 5px 5px 0px;
  padding-right: 5px;
}

.host-pic {
  width: 27%;
  position: absolute;
  left: 225px;
  bottom: -20px;
}

.host-pic-button {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.index-item-price {
  position: absolute;
  bottom: 15px;
  background-color: #DFF0F8;
  color: #403C39;
  padding: 5px 10px;
}

#rating {
  position: absolute;
  top: -4px;
}

.host-pic-button:hover {
  box-shadow: 0 0 6px #000000;
}

.place-pic:hover {
  box-shadow: 0 0 8px #000000;
}
