.user-profile {
  min-height: calc(100vh - 100px);
}

.top-details {
  display: flex;
}

.user-main-details {
  width: 40%;
  margin-top: 5%;
  text-align: center;
  margin-left: 4%;
}

.profile-pic {
  margin: auto;
  width: 75%;
}

.profile-username {
  font-size: 30px;
  margin: 10px;
}

#listing-link {
  text-decoration: underline;
  font-size: 18px;
}

.greeting-and-about {
  width: 60%;
  margin: 5% 2%;
}

.profile-greeting {
  font-size: 35px;
}

.about-me {
  font-size: 20px;
  margin: 3% 0;
}

.profile-flag {
  width: 20%;
  height: 30%;
  margin: auto;
  margin-right: 4%;
}
